.tooltip-inner {
    max-width: 500px !important;
}
.tooltip.show {
    opacity: 1;
}

/* Headers font */
h1, h2, h3, h4, h5, h6 {
    font-family: "Britannic Bold", sans-serif;
}

/* btn-primary */
.btn-primary {
    width: auto;
    text-align: center;
    background-color: #9BA5CE; !important;
    border: none;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    font-weight: 600;
    background-color: #838FC3;
}

#error404Div, .custom-background {
    background-color: #9BA5CE;
    background-image: linear-gradient(to bottom, #9BA5CE, #FFFFFF);
}

/* Card background colors */
.classic-mode-darker {
    background-color: #B5C1F0;
}
.classic-mode-lighter {
    background-color: #EEEEEE;
}
.time-limited-mode-darker {
    background-color: #C7B5F0;
}
.time-limited-mode-lighter {
    background-color: #EEEEEE;
}
.educational-mode-darker {
    background-color: #B5CFF0;
}
.educational-mode-lighter {
    background-color: #EEEEEE;
}


.carousel-item-welcome {
    height: 200px;
}

/* Oauth icons */
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Input border */
.form-control:focus {
  border-color: #838FC3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 131, 185, 0.6);
}

/* Sidebars */
.offcanvas {
    width:100% !important;
}

/* Non-reactive images */
img {
    pointer-events: none;
}

/* Parameter description icon */
.bi-question-circle {
    color: #1D8EFF;
}