{% extends 'admin/master.html' %}

{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs/hammer.min.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
{% endblock %}

{% block body %}
  <div class="mx-3">
    <h2 class="text-center">Overall stats</h2>
    {% for name_of_section, statistics in overall_stats.items() %}
      <table class="table table-striped table-hover table-bordered mb-4 mt-3">
        <thead>
          <tr>
            <th>{{ name_of_section }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in statistics.items() %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}

  <canvas id="numOfCasesChart" width="400" height="200"></canvas>

  <div class="row my-3">
    <div class="col-6">
      <canvas id="correctChart"></canvas>
    </div>
    <div class="col-6">
      <canvas id="modesChart"></canvas>
    </div>
  </div>


  {% if first_group_stats %}
    <h2 class="text-center mt-5">First group stats</h2>
    <table class="table table-striped table-hover table-bordered mb-4 mt-3">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Number of collected answers</th>
          <th>Number of correct answers</th>
        </tr>
      </thead>
      <tbody>
        {% for patient_id, p_stats in first_group_stats.items() %}
          <tr>
            <td>{{ patient_id }}</td>
            <td>{{ p_stats['count_all'] }}</td>
            <td>{{ p_stats['count_correct'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  </div>

  <script>
      let ctx1 = document.getElementById('numOfCasesChart').getContext('2d');
      let numOfCasesChartLabels = {{ chart_data["date_labels"] | tojson }};
      let numOfCasesChartCounts = {{ chart_data["answer_counts"] | tojson }};

      let numOfCasesChart = new Chart(ctx1, {
          type: 'line',
          data: {
              labels: numOfCasesChartLabels,
              datasets: [{
                  data: numOfCasesChartCounts,
                  fill: false,
                  pointRadius: 3,
                  pointBackgroundColor: 'rgba(54, 162, 235, 1)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  x: {
                      title: {
                          display: true,
                          text: "Date"
                      }
                  },
                  y: {
                      beginAtZero: true,
                      stepSize: 1,
                      title: {
                          display: true,
                          text: "Number of solved cases"
                      }
                  }
              },
              plugins: {
                  title: {
                      display: true,
                      text: "Number of solved cases per day"
                  },
                  legend: {
                      display: false
                  },
                  zoom: {
                      pan: {
                          enabled: true,
                          mode: 'x'
                      },
                      zoom: {
                          wheel: {
                              enabled: true,
                          },
                          pinch: {
                              enabled: true
                          },
                          mode: 'x',
                      }
                  },
                  draggable: {
                      enabled: true,
                      mode: 'x',
                  }
              }
          }
      });

      let correctPercentage = {{ chart_data["correctly_solved_percentage"] | tojson }};
      let incorrectPercentage = 100 - correctPercentage;

      let ctx2 = document.getElementById('correctChart').getContext('2d');
      const correctChart = new Chart(ctx2, {
          type: 'pie',
          data: {
              labels: ['Correctly solved cases', 'Incorrectly solved cases'],
              datasets: [{
                  data: [correctPercentage, incorrectPercentage],
                  backgroundColor: ['green', 'red'],
              }]
          },
          options: {
              plugins: {
                  title: {
                      display: true,
                      text: "Percentage of correctly solved cases vs percentage of incorrectly solved cases"
                  },
                  datalabels: {
                      color: '#FFFFFF',
                      formatter: function(value) {
                          return value + "%";
                      }
                  }
              }
          },
          plugins: [ChartDataLabels]
        });

      let classicCount = {{ chart_data["classic_count"] | tojson }};
      let educationalCount = {{ chart_data["educational_count"] | tojson }};
      let timeLimCount = {{ chart_data["time_lim_count"] | tojson }};

      let ctx3 = document.getElementById('modesChart').getContext('2d');
      const modesChart = new Chart(ctx3, {
          type: 'pie',
          data: {
              labels: [
                  'Cases solved in Classic mode',
                  'Cases solved in Educational mode',
                  'Cases solved in Limited Time mode'
              ],
              datasets: [{
                  data: [classicCount, educationalCount, timeLimCount],
                  backgroundColor: ['#56B9FE', '#17E55C', '#F53F3F'],
              }]
          },
          options: {
              plugins: {
                  title: {
                      display: true,
                      text: "Number of cases solved in each mode"
                  },
                  datalabels: {
                      color: '#FFFFFF'
                  }
              }
          },
          plugins: [ChartDataLabels]
        });

  </script>
{% endblock %}