{% extends "base.jinja" %}
{% block content %}
  <div class="text-center py-3" id="error404Div">
    <i class="bi bi-emoji-frown fa-7x"></i>
    <h1 class="fw-bold fa-4x">500</h1>
    <p class="text-muted fs-3">Internal Server Error</p>
    <p class="fs-4 fw-bold px-2">
      Sorry, an unexpected error occurred!<br>
      We will be grateful if You contact us <a href="{{ url_for('contact.get') }}">HERE</a>
      and describe the situation in which the error occurred.<br>
      We are very sorry for the inconvenience. We will try to fix the cause of the error as soon as possible.
    </p>
  </div>
{% endblock %}