{% extends 'base.jinja' %}
{% set game_mode = True if not database_error and not all_done else False %}
{% from "_macros.html" import render_field_with_errors, render_form_errors %}

{% block head %}
  <meta id="mode" data-name="{{ mode }}">
  <meta id="timeLimit" data-name="{{ time_limit }}">
{% endblock %}

{% block content %}
  {% if database_error %}
    <div class="text-center py-3 custom-background">
      <i class="bi bi-bug-fill fa-7x"></i>
      <h2 class="mx-4 my-4">
        Sorry, it looks like there was an error. Please try to reload the page.<br>
        If that doesn't help please <a href="{{ url_for('welcome.get') }}#contact-section">contact us</a>.
      </h2>
    </div>
  {% elif all_done %}
    <div class="text-center py-3 custom-background">
      <i class="bi bi-check-all fa-7x"></i>
      <h2 class="mx-3 my-4">
        Congratulations, You have completed all the cases!<br>
        Thank You, we greatly appreciate your contribution to the development of our research!
      </h2>
    </div>
  {% else %}
    {% if warning %}
      <!-- warning modal -->
      <div class="modal fade" id="warningModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #DC3545">
              <h1 class="modal-title fs-5" id="modalTitle" style="color: white; font-weight: bold">
                <i class="bi bi-exclamation-triangle" style="-webkit-text-stroke: 1px;"></i> WARNING
              </h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p class="mb-0">
                You are solving cases too quickly. Please slow down, otherwise you will be logged out of the application.
              </p>
              <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">Got it</button>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if mode == 'time-limited' %}
      <!-- count down section -->
      <div id="countDownAlert" class="sticky-top alert alert-danger mx-3 my-2">
        You are in time-limited mode. You have <b>{{ time_limit }}</b> seconds left to answer before next case appears.
      </div>
    {% endif %}

    <!-- small screen version -->
    <div class="d-block d-lg-none">

      <div class="d-flex justify-content-between mx-3 my-3">
        <button class="btn btn-primary" style="text-align: left !important;" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarLeft" aria-controls="sidebarLeft" onclick="transitionOn(false);">
          Show photo<br>at the age of {{ ort_data[1].age }}
        </button>
        <div>
          <h3 class="text-center mb-1">Patient {{ selected_patient.id }}</h3>
          <h4 class="text-center mt-1">{{ selected_patient.sex }}</h4>
        </div>
        <button class="btn btn-primary" style="text-align: right !important;" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarRight" aria-controls="sidebarRight" onclick="transitionOn(false);">
          Show photo<br>at the age of {{ ort_data[2].age }}
        </button>
      </div>

      <div class="card mx-3 my-3">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th class="text-center" scope="col">Parameter</th>
              <th class="text-center" scope="col">Age of {{ ort_data[1].age }}</th>
              <th class="text-center" scope="col">Age of {{ ort_data[2].age }}</th>
            </tr>
          </thead>
          <tbody>
            {% for param in parameters %}
              <tr>
                <th scope="row">
                  {{ param.name }}
                  <button class="btn tooltip-icon" type="button" data-bs-toggle="tooltip"
                          data-bs-title="{{ param.description }}<br>
                                <img class='img-fluid' src='{{ url_for('static', filename='img/example_parameter_explenation_photo.png') }}'/>"
                          data-bs-placement="bottom" style="float: right; padding-bottom: 0; padding-top: 0;">
                    <i class="bi bi-question-circle"></i> <!-- TODO param description img -->
                  </button>
                </th>
                <td class="text-center">{{ ort_data[1][param.variable_name] }}</td>
                {% if ort_data[1][param.variable_name] < ort_data[2][param.variable_name] %}
                  <td class="text-center">
                    {{ ort_data[2][param.variable_name] }}
                    <span style="float: right">&#8593;</span>
                  </td>
                {% elif ort_data[1][param.variable_name] > ort_data[2][param.variable_name] %}
                  <td class="text-center">
                    {{ ort_data[2][param.variable_name] }}
                    <span style="float: right">&#8595;</span>
                  </td>
                {% else %}
                  <td class="text-center">{{ ort_data[2][param.variable_name] }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="sidebarLeft" aria-labelledby="sidebarLeftLabel">
        <div class="container-fluid text-center my-2">
          <div class="btn-group" style="margin-left: 24px;" role="group">
            <button type="button" class="btn btn-primary active">Age of {{ ort_data[1].age }}</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#sidebarRight" aria-controls="sidebarRight">Age of {{ ort_data[2].age }}</button>
          </div>
          <div class="d-inline-block float-end" style="margin-top: 7px">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" onmouseup="transitionOn(true);"></button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="offcanvas-body">
          <img src="{{ url_for('game.get_photo', ort_id = ort_data[1].id ) }}" class="img-fluid" alt="Photo not found...">
        </div>
      </div>

      <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="sidebarRight" aria-labelledby="sidebarRightLabel">
        <div class="container-fluid text-center my-2">
          <div class="btn-group" style="margin-left: 24px;" role="group">
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#sidebarLeft" aria-controls="sidebarLeft">Age of {{ ort_data[1].age }}</button>
            <button type="button" class="btn btn-primary active">Age of {{ ort_data[2].age }}</button>
          </div>
          <div class="d-inline-block float-end" style="margin-top: 7px">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" onmouseup="transitionOn(true);"></button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="offcanvas-body">
          <img src="{{ url_for('game.get_photo', ort_id = ort_data[2].id ) }}" class="img-fluid" alt="Photo not found...">
        </div>
      </div>

    </div>
    <!-- end of small screen version -->

    <!-- big screen version -->
    <div class="d-block d-none d-lg-block" style="display: none">
      <div class="card mx-3 my-2">
        <div class="card-header">
          <h3 class="text-center mb-1">Patient {{ selected_patient.id }}</h3>
          <h4 class="text-center mt-1">{{ selected_patient.sex }}</h4>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-4 mt-5">
              <h3 class="text-center mb-3">Photo at the age of {{ ort_data[1].age }}</h3>
              <img src="{{ url_for('game.get_photo', ort_id = ort_data[1].id ) }}" class="img-fluid img-thumbnail" alt="Photo not found...">
            </div>

            <div class="col-4">
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Age of {{ ort_data[1].age }}</th>
                    <th class="text-center" scope="col">Parameter</th>
                    <th class="text-center" scope="col">Age of {{ ort_data[2].age }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for param in parameters %}
                    <tr>
                      <td class="text-center">{{ ort_data[1][param.variable_name] }}</td>
                      <th scope="row" class="text-center">
                        {{ param.name }}
                        <button class="btn tooltip-icon" type="button" data-bs-toggle="tooltip"
                                data-bs-title="{{ param.description }}<br>
                                <img class='img-fluid' src='{{ url_for('static', filename='img/example_parameter_explenation_photo.png') }}'/>"
                                data-bs-placement="bottom" style="float: right; padding-bottom: 0; padding-top: 0;">
                          <i class="bi bi-question-circle"></i>   <!-- TODO param description img + alt -->
                        </button>
                      </th>
                      {% if ort_data[1][param.variable_name] < ort_data[2][param.variable_name] %}
                        <td class="text-center">
                          {{ ort_data[2][param.variable_name] }}
                          <span style="float: right">&#8593;</span>
                        </td>
                      {% elif ort_data[1][param.variable_name] > ort_data[2][param.variable_name] %}
                        <td class="text-center">
                          {{ ort_data[2][param.variable_name] }}
                          <span style="float: right">&#8595;</span>
                        </td>
                      {% else %}
                        <td class="text-center">{{ ort_data[2][param.variable_name] }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-4 mt-5">
              <h3 class="text-center mb-3">Photo at the age of {{ ort_data[2].age }}</h3>
              <img src="{{ url_for('game.get_photo', ort_id = ort_data[2].id ) }}" class="img-fluid img-thumbnail" alt="Photo not found...">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of big screen version -->

    <div class="row mx-3">
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto my-3">
    <div class="card border-primary">
      <form method="POST" action="{{ url_for('game.get_post', mode=mode) }}" id="prediction-form">
        {{ form.csrf_token }}
        {{ render_form_errors(form) }}

        {{ form.screen_size }}
        {{ form.show_results }}

        <div class="card-header">
          <h4 class="text-center font-weight-bold">Please try to predict the direction of facial growth</h4>
        </div>

        <div class="card-body">
          {{ render_field_with_errors(form.direction, class="form-control mx-3", autofocus=true) }}
        </div>

        <div class="card-footer">
          <div class="text-center">
            {% if mode == 'classic' or mode == 'time-limited' %}
              <button id="btn-next-case" type="submit" class="btn btn-primary">Next Case</button>
              <button id="btn-results" class="btn btn-primary">Show Results</button>
            {% else %}
              <button id="btn-results" type="submit" class="btn btn-primary">Show Result</button>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
    </div>
    </div>

  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}
