{% extends "base.jinja" %}

{% block title %}
  Log in to PrediGrowee
{% endblock %}

{% block content %}
  <div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title mb-4">Log in to PrediGrowee</h5>
          <div class="row mx-2">
            <button type="button" class="btn btn-outline-secondary btn-block mb-2">
              <i class="fab fa-google"></i> Log in with Google
            </button>
          </div>
          <div class="row mx-2">
            <button type="button" class="btn btn-outline-secondary btn-block mb-2">
              <i class="fab fa-facebook-square fa-lg"></i> Log in with Facebook
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock %}