{% extends "base.jinja" %}

{% block title %}
  Log in to PrediGrowee
{% endblock %}

{% block content %}
  <div class="container py-5 text-center">
    <div class="card">
      <div class="card-header">
        <h4>Log in to PrediGrowee</h4>
      </div>
      <div class="card-body">
        <button class="btn btn-outline-secondary">
          <i class="fa-brands fa-google"></i>
          <span class="label">Log in with Google</span>
        </button>
      </div>
    </div>
  </div>
{% endblock %}