{% extends 'base.jinja' %}

<!-- TODO: Parameters FRONTEND -->
{% block content %}
  <div class="custom-background pt-4">
    <h2 class="text-center">Parameters</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mx-3 my-3">
      {% for parameter in parameters %}
        <div class="col">
          <div class="card">
            <img class='card-img-top' src='{{ url_for('static', filename='img/' + parameter.variable_name + '.png') }}' alt="..."/>
            <div class="card-body">
              <h5 class="card-title">{{ parameter.name }}</h5>
              <p class="card-text">{{ parameter.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}