{% extends 'base.jinja' %}

{% block content %}
  <div class="custom-background py-2">
    <h2 class="text-center">Statistics</h2>

    <div class="row row-cols-1 row-cols-lg-3 g-3 mx-3 my-3">
      <div class="col">
        <div class="card border-dark text-center classic-mode-darker">
          <div class="card-header">
            <b>Classic mode</b>
          </div>
          <div class="card-body classic-mode-lighter">
            Resolved cases in this mode:
            <b>{{ statistics['classic']['count_all'] }}</b><br>
            Correctly solved cases:
            <b>{{ statistics['classic']['count_correct'] }}</b>
          </div>
          <div class="card-footer text-muted classic-mode-darker">
            <small>Time spent: </small>
            <small id="classicTime">{{ statistics['classic']['sum_time'] }}</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark text-center">
          <div class="card-header time-limited-mode-darker">
            <b>Time-limited mode</b>
          </div>
          <div class="card-body time-limited-mode-lighter">
            Resolved cases in this mode:
            <b>{{ statistics['time-limited']['count_all'] }}</b><br>
            Correctly solved cases:
            <b>{{ statistics['time-limited']['count_correct'] }}</b>
          </div>
          <div class="card-footer text-muted time-limited-mode-darker">
            <small>Time spent: </small>
            <small id="timeLimitedTime">{{ statistics['time-limited']['sum_time'] }}</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border-dark text-center">
          <div class="card-header educational-mode-darker">
            <b>Educational mode</b>
          </div>
          <div class="card-body educational-mode-lighter">
            Resolved cases in this mode:
            <b>{{ statistics['educational']['count_all'] }}</b><br>
            Correctly solved cases:
            <b>{{ statistics['educational']['count_correct'] }}</b>
          </div>
          <div class="card-footer text-muted educational-mode-darker">
            <small>Time spent: </small>
            <small id="educationalTime">{{ statistics['educational']['sum_time'] }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/time_script.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/statistics_script.js') }}"></script>
{% endblock %}
