{% extends 'base.jinja' %}
{% from "_macros.html" import render_field_with_errors, render_form_errors %}

{% block content %}

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title mb-4 text-center">Survey</h5>

              <form method="POST" action="{{ url_for('survey.get_post', mode=mode) }}">
                {{ form.csrf_token }}
                {{ render_form_errors(form) }}

                {{ form.gender.label(class="mb-1") }}:
                {{ render_field_with_errors(form.gender, class="form-control", autofocus=true) }}

                {{ form.age.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.age, class="form-control", placeholder='Age', min_zero=true) }}

                {{ form.country.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.country, class="form-control", placeholder='Country') }}

                {{ form.vision_defect.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.vision_defect, class="form-control") }}

                {{ form.education.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.education, class="form-control") }}

                <div id="education-other-visibility" style="display: {{ '' if form.education.data == 'other' else 'none' }}">
                  {{ render_field_with_errors(form.education_other, class="form-control", placeholder='Please write your profession') }}
                </div>

                {{ form.experience.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.experience, class="form-control mb-3") }}

                {{ form.included.label(class="mb-1 mt-3") }}
                {{ render_field_with_errors(form.included, class="form-control mb-3") }}

                <div class="included-visibility" style="display: {{ '' if form.included.data == 'Yes' else 'none' }}">
                  {{ render_field_with_errors(form.name, class="form-control", placeholder='Name') }}
                </div>

                <div class="included-visibility" style="display: {{ '' if form.included.data == 'Yes' else 'none' }}">
                  {{ render_field_with_errors(form.surname, class="form-control", placeholder='Surname') }}
                </div>


                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/survey.js') }}"></script>
{%- endblock scripts %}
