{% extends 'base.jinja' %}
{% from "_macros.html" import render_field_with_errors, render_form_errors %}

{% block content %}

  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title mb-4 text-center">Survey</h5>
              <p class="text-center">Some information about the survey</p>

              <form method="POST" action="{{ url_for('survey.get_post') }}">
                {{ form.csrf_token }}
                {{ render_form_errors(form) }}

                {{ form.gender.label(class="mb-1") }}:
                {{ render_field_with_errors(form.gender, class="form-control", autofocus=true) }}

                {{ form.age.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.age, class="form-control", placeholder='Age') }}

                {{ form.vision_defect.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.vision_defect, class="form-control") }}

                {{ form.education.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.education, class="form-control") }}

                <div id="education-other-visibility" style="display: {{ '' if form.education.data == 'other' else 'none' }}">
                  {{ render_field_with_errors(form.education_other, class="form-control", placeholder='Education') }}
                </div>

                {{ form.experience.label(class="mb-1 mt-3") }}:
                {{ render_field_with_errors(form.experience, class="form-control mb-3") }}

                <div class="mb-3 text-center">
                  <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block scripts %}
  <script>
    $().ready(function () {
        let educationSelect = document.getElementById('education');
        let educationOtherDiv = document.getElementById('education-other-visibility');

        educationSelect.onchange = function () {
            if (educationSelect.value === 'other') {
                educationOtherDiv.style.display = '';
            } else {
                educationOtherDiv.style.display = 'none';
            }
        };
    });
  </script>
{%- endblock scripts %}
